apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: demo

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

images:
  - name: 057773388128.dkr.ecr.eu-north-1.amazonaws.com/eks-real-app
    newName: 057773388128.dkr.ecr.eu-north-1.amazonaws.com/eks-real-app
    newTag: f1b4fff
