apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx

  sources:
    - repoURL: https://kubernetes.github.io/ingress-nginx
      chart: ingress-nginx
      targetRevision: 4.11.3
      helm:
        valueFiles:
          - $values/k8s/ingress-nginx/values.yaml
        parameters:
          - name: controller.metrics.enabled
            value: "true"
          - name: controller.metrics.serviceMonitor.enabled
            value: "true"
          - name: controller.metrics.serviceMonitor.namespace
            value: "monitoring"
          - name: controller.metrics.serviceMonitor.additionalLabels.release
            value: "monitoring"
          - name: controller.extraArgs.enable-metrics
            value: "true"

    - repoURL: https://github.com/MohamedHassan8347/EKS-Project.git
      targetRevision: main
      ref: values

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

