controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      namespace: monitoring
      additionalLabels:
        release: monitoring

  # This must flip the controller flag from --enable-metrics=false to true
  extraArgs:
    enable-metrics: "true"
