controller:
  metrics:
    enabled: true

    service:
      enabled: true
      type: ClusterIP
      servicePort: 10254

    serviceMonitor:
      enabled: true
      namespace: monitoring
      additionalLabels:
        release: monitoring
