controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      namespace: monitoring
      additionalLabels:
        release: monitoring

  # IMPORTANT: turn on the controller's request metrics
  extraArgs:
    enable-metrics: "true"
