name: "App build, scan, push, deploy (GitOps)"

on:
  push:
    branches: ["main"]
    paths:
      - "app/**"
      - "k8s/**"
      - ".github/workflows/app-build-scan-deploy.yml"
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

env:
  AWS_REGION: eu-north-1
  ECR_REPOSITORY: eks-real-app
  GITOPS_KUSTOMIZATION: k8s/demo/gitops/real-app/kustomization.yaml

jobs:
  build_scan_push_and_bump_gitops:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::057773388128:role/github-actions-eks-terraform

      - name: Set image vars
        run: |
          echo "SHORT_SHA=${GITHUB_SHA:0:7}" >> "$GITHUB_ENV"
          echo "ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)" >> "$GITHUB_ENV"
          echo "ECR_REGISTRY=$(aws sts get-caller-identity --query Account --output text).dkr.ecr.${AWS_REGION}.amazonaws.com" >> "$GITHUB_ENV"
          echo "IMAGE_LOCAL=eks-real-app:${GITHUB_SHA:0:7}" >> "$GITHUB_ENV"
          echo "IMAGE_URI=$(aws sts get-caller-identity --query Account --output text).dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY}:${GITHUB_SHA:0:7}" >> "$GITHUB_ENV"

      - name: Build image (LOCAL TAG)
        run: |
          docker build -t "${IMAGE_LOCAL}" ./app

      - name: Trivy scan LOCAL image (fail on HIGH/CRITICAL)
        uses: aquasecurity/trivy-action@0.30.0
        with:
          image-ref: ${{ env.IMAGE_LOCAL }}
          format: table
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "HIGH,CRITICAL"
          scanners: "vuln"

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region "${AWS_REGION}" \
            | docker login --username AWS --password-stdin "${ECR_REGISTRY}"

      - name: Tag + push to ECR
        run: |
          docker tag "${IMAGE_LOCAL}" "${IMAGE_URI}"
          docker push "${IMAGE_URI}"

      - name: Bump GitOps image tag (kustomize)
        run: |
          echo "Updating ${GITOPS_KUSTOMIZATION} -> newTag: ${SHORT_SHA}"
          sed -i "s/^\\s*newTag:\\s*.*/    newTag: ${SHORT_SHA}/" "${GITOPS_KUSTOMIZATION}"
          echo "Result:"
          cat "${GITOPS_KUSTOMIZATION}"

      - name: Commit GitOps change
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add "${GITOPS_KUSTOMIZATION}"
          git commit -m "GitOps: deploy eks-real-app ${SHORT_SHA}" || echo "No changes to commit"

      - name: Push
        run: |
          git push
