name: App build, scan, push, deploy

on:
  push:
    branches: ["main"]
    paths:
      - "app/**"
      - "k8s/**"
      - ".github/workflows/app-build-scan-deploy.yml"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-north-1
  CLUSTER_NAME: eks-portfolio-dev
  ECR_REPOSITORY: eks-real-app
  K8S_NAMESPACE: demo
  DEPLOYMENT_NAME: real-app
  CONTAINER_NAME: app

jobs:
  build_scan_push_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::057773388128:role/github-actions-eks-terraform

      - name: Set image vars
        id: vars
        run: |
          echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
          echo "ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)" >> $GITHUB_ENV
          echo "ECR_REGISTRY=$(aws sts get-caller-identity --query Account --output text).dkr.ecr.${AWS_REGION}.amazonaws.com" >> $GITHUB_ENV
          echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV
          echo "IMAGE_URI=$(aws sts get-caller-identity --query Account --output text).dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY}:${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build image (local)
        run: |
          docker build -t "${IMAGE_URI}" ./app

      - name: Print package.json from built image (local)
        run: |
          echo "Printing /app/package.json from locally-built image: ${IMAGE_URI}"
          docker run --rm "${IMAGE_URI}" cat /app/package.json

      - name: Trivy scan image (fail on HIGH/CRITICAL)
        uses: aquasecurity/trivy-action@0.30.0
        with:
          image-ref: ${{ env.IMAGE_URI }}
          format: table
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "HIGH,CRITICAL"
          scanners: "vuln"

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region "${AWS_REGION}" \
            | docker login --username AWS --password-stdin "${ECR_REGISTRY}"

      - name: Push image to ECR
        run: |
          docker push "${IMAGE_URI}"

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --region "${AWS_REGION}" --name "${CLUSTER_NAME}"

      - name: Deploy (set image + rollout)
        run: |
          kubectl -n "${K8S_NAMESPACE}" set image deployment/"${DEPLOYMENT_NAME}" "${CONTAINER_NAME}"="${IMAGE_URI}"
          kubectl -n "${K8S_NAMESPACE}" rollout status deployment/"${DEPLOYMENT_NAME}"

      - name: Summary
        run: |
          echo "Deployed image: ${IMAGE_URI}" >> $GITHUB_STEP_SUMMARY
          echo "Endpoint: https://app.mhecsproject.com/version" >> $GITHUB_STEP_SUMMARY
