name: terraform-plan

on:
  pull_request:
    paths:
      - "infra/**"
  push:
    branches: ["main"]
    paths:
      - "infra/**"

permissions:
  id-token: write
  contents: read

jobs:
  plan:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/envs/dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::057773388128:role/github-actions-eks-terraform
          aws-region: eu-north-1

       - name: Checkov (Terraform security scan)
         uses: bridgecrewio/checkov-action@v12
          with:
           directory: infra
           framework: terraform
           quiet: true

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      - name: Terraform fmt
        run: terraform fmt -recursive -check

      - name: Terraform init
        run: terraform init -input=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan
        run: terraform plan -input=false -no-color
