name: Terraform Destroy (Manual)

on:
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: read

jobs:
  destroy:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::057773388128:role/github-actions-eks-terraform
          aws-region: eu-north-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      - name: Terraform init
        run: terraform -chdir=infra/envs/dev init -input=false

      - name: Terraform destroy
        run: terraform -chdir=infra/envs/dev destroy -input=false -auto-approve
